# Port aplikasi Express backend (Default: 3001)
PORT=3001

# Konfigurasi Cloudinary (Opsional untuk upload cloud foto bukti parkir)
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# Mode Debug Log (true / false)
DEBUG=false
